body{
    background-color: #000000;
}

h1{
    color: white;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;

    .sidebar_navigation{
        background-color: #121212;
        border-radius: 8px;
        padding: 16px 0 0 16px;

        .logo {
            background-color: #121212;
            display: flex;
            border-radius: 8px;
            padding: 16px 0 0 16px;
            
            img{
            width: 80px;
            }
        }

        ul{
            margin-top: 20px;
            padding: 0 20px 10px 20px;

            li{
                padding: 10px 0;

                a{
                    color: #b3b3b3;
                    font-weight: 600;
                    font-size: 14px;
                    font-family: "DM Sans", sans-serif;

                    span{
                        padding: 0 15px 0 0;
                    }
                }
            }
        }
    }

    .library{
        @extend .sidebar_navigation;
        margin: 10px 0 0 0;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 600;
        color: #b3b3b3;


        .library_content{
            background-color: #121212;
            display: flex;
            border-radius: 8px;
            padding-left: 20px;;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .library_button{
                padding-right: 20px; 
                color: #b3b3b3;
                font-weight: 600;
                font-size: 14px;
                font-family: "DM Sans", sans-serif;
                
                span{
                    padding: 0 15px 0 0;
                }
            }

            .fa-plus{
                padding-right: 20px;
                text-align: center;
                color: #b3b3b3;
                margin: 24px 10px;
            }
        }

        .section-playlist{
            background-color: #242424;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 20px;
            color: #b3b3b3;
            font-weight: 600;
            font-size: 14px;
            margin: 8px 10px;
            padding: 16px 20px;
            font-family: "DM Sans", sans-serif;
            border-radius: 10px;

            .section-playlit-content{
                display: flex;
                flex-direction: column;

                .text{
                    padding-bottom: 14px;
                    color: #fff;
                }

                .title{
                    font-weight: 700;
                }

                .subtitle{
                    font-weight: 500;
                    font-size: 12px;
                }

                .section-playlist_button{
                    display: flex;
                    justify-content: center;
                    background-color: #fff;
                    color: #000;
                    border-radius: 20px;
                    font-size: 12px;
                    font-weight: 700;
                    font-family: "DM Sans", sans-serif;
                    text-decoration: none;
                    width: 113px;
                    margin-top: 12px;
                    padding: 10px;
                }
            }
        }

        .cookies{
            margin: 25px 20px;

            a{
                color: #b3b3b3;
                font-weight: 500;
                font-size: 10px;

                &:hover{
                    text-decoration: underline;
                }
            }
        }

        .languages{
            .languages_button{
                background-color: transparent;
                border: 1px solid #878787;
                color: #fff;
                cursor: pointer;
                align-items: center;
                font-weight: bold;
                width: 170px;
                margin: 8px;
                padding: 8px;
                border-radius: 20px;
            }
        }
    }

}

.footer_content{
    position: fixed;
    top: 610px;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    margin: 9px;
    background: linear-gradient(90deg, #AE2997, #8062C6, #5496F1);
    padding: 10px 15px;
    color: #fff;
    font-family: "DM Sans", sans-serif;
    line-height: 20px;

    .footer_text{
        span{
            font-size: 13px;
            font-weight: 600;
        }
        p{
            font-size: 16px;
            font-weight: 500;
        }
    }

    .footer_button{
        background-color: #fff;
        color: #000000;
        height: 48px;
        padding: 8px 24px;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 600;
    }
    
}

